body{
 margin: 0;
 background-color: #282c34; 
 display: flex;
 flex-direction: column;
 height:100vh;
 justify-content: center;
 align-items: center;
}
.container{
    color: #ccc;
    display: flex;
    letter-spacing: 2px;
    font-size: 5rem;
}
.timer{
    margin: 0;
}